* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.curl {
    font-family: 'Cedarville Cursive';
    font-style: italic;
}
.dot {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #1dbf73;
}
.header {
    background-color: #ab405b;
    color: white;
    padding-bottom: 200px;
    size: 500px;
}
.nav {
    height: 80px;
}
ul{
    list-style-type: none;
    box-sizing: border-box;
    color: white;
}
.nav li{
    float: right;
    font-size: 20px;
    padding: 10px;
    padding-top: 30px;
}
#logo {
    float: left;
    font-size: 40px;
    font-weight: 800;
    padding: 0px 0px 0px 45px;
}
.footer-top {
    display: flex;
    flex-direction: row;
}
.footer-top .list {
    flex-grow: 1;
    padding: 30px;
    margin: 20px;
}
.footer-top li {
    color: rgb(138, 133, 133);
    padding-top: 20px;
}
.list > ul > .first-item {
    color: black;
    font-weight: bold;
}
.list > ul > .sub-item {
    color: rgb(192, 185, 185);
    font-size: 14px;
    padding-top: 4px;
}
.desc {
    width: 600px;
    padding-top: 120px;
}
.desc > h1, .get-started > h1 {
    font-size: 48px;
}
.list-bottom > li {
    color: black;
    float: right;
    padding: 20px 10px 30px;
}
.list-bottom > li:first-child {
    float: left;
}
.list-bottom > li:nth-child(2) {
    float: left;
}
.get-started {
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_1400,dpr_1.0/v1/attachments/generic_asset/asset/50218c41d277f7d85feeaf3efb4549bd-1599072608122/bg-signup-1400-x1.png");
    margin: 40px;
    border-radius: 5px;
    padding: 50px 0px 50px 35px;
    height: 330px;
}
.get-started > h1{
    width: 630px;
    color: white;
    padding-top: 76px;
    padding-left: 70px;
}
.get-started > button {
    background-color: #1dbf73;
    color: white;
    font-size: 18px;
    height: 40px;
    width: 128px;
    border-radius: 6px;
    border-color: white;
    margin-top: 34px;
    margin-left: 70px;
}
.trust > ul {
    display: flex;
    flex-direction: row;
}
.trust > ul > li {
    color: rgb(199, 195, 195);
    margin: 20px;
    font-weight: bold;
}
.trust > ul > li:first-child, .trust > ul > li:nth-child(6) {
    flex-grow: 1;
}
.trust > ul >li:first-child {
    text-align: right;
    padding-top: 20px;
}
.popular > ul > li > a{
    display: inline-flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 18px;
    padding: 4px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.popular > ul > li {
    display: inline-block;
    padding-right: 8px;
}
.popular > ul{
    display: flex;
    padding-top: 20px;
}
.desc {
    padding-left: 34px;
}
.desc > input {
    height: 42px;
    width: 500px;
    border: 2px solid white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-color: white;
    float: left;
    margin-top: 26px;
}
.desc > button {
    height: 46px;
    width: 90px;
    font-size: 18px;
    background-color: #1dbf73;
    color: white;
    border: 2px solid #1dbf73;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    float: left;
    margin-top: 26px;
}
.clear {
    clear: both;
}
